@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');


body {
    
  background-color: #f3f3f3;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-jinke-music-player-main .glass-bg {
    position: absolute;
    height: 95% !important;
    top: 57px !important;
    min-height: 480px;
}

.play-sounds {
    display: inline!important;
}

.react-jinke-music-player-mobile-header-right svg{
    display: none;
}

.react-jinke-music-player-mobile-progress .duration{
    display: none !important;
}

.ui.search>.results .result .image{
    float: left !important;
}

.ui.search>.results .result .price {
    margin-right: -84px;
    color: red !important;
}

.ui.grid {
    width: 460px;
    margin-left: 2% !important;
    
}

.ui.input {
    width: 100%;
   
}

.ui.top.left.popup {
    margin-left: 85px!important;
    margin-top: 17px;
}

.MuiPaper-elevation4{
    box-shadow: none!important;
}

.react-jinke-music-player-mobile-cover .cover{
    width: 101%!important;
    height: 101%;
    margin-top: -1px;
    margin-left: -1px;
}

.react-jinke-music-player-main.light-theme .react-jinke-music-player-mobile-cover{
    border: 5px solid #8e8e8eed!important;
    box-shadow: 0 0 30px 2px rgb(0 0 0 / 76%)!important;
}

.react-jinke-music-player-mobile-progress .current-time{
    position: absolute;
    top: -200px;
    left: 108px;
    font-size: 13px !important    
}

.react-jinke-music-player-main .music-player-panel .panel-content .player-content .play-sounds{
    display: inline;
}

.react-jinke-music-player-main .music-player-panel .panel-content .player-content .play-sounds .sound-operation{
    display: inline;
}

.rc-slider{
    display: none!important;
}

.react-jinke-music-player-mobile > .group{
    margin-top: -56px !important;
}

.react-jinke-music-player-mobile-operation .items{
    margin-top: -60px !important;
}

.react-jinke-music-player-mobile-header{
    position: relative !important;
    top: 60px !important;
}

.react-jinke-music-player-mobile-singer-name{
    top: 50px !important
}

.ui.top.left.popup{
    border: 3px solid #E96F6F
}

.MuiAppBar-root{
    width: auto!important;
}

.MuiTabScrollButton-root.Mui-disabled{
    position: absolute;
}

.MuiSvgIcon-fontSizeSmall{
    color: #E96F6F;
    font-size: 26px!important;
}